# Application Configuration
NODE_ENV=development
PORT=3000

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=cue
DB_PASSWORD=cue
DB_DATABASE=cue
DB_SYNCHRONIZE=false
DB_RUN_MIGRATIONS=true
DB_LOGGING=true
DB_DISABLE_SSL_AUTH=true
